*{
	margin: 0;
	padding: 0;
}

.container{
	width: 100%;
	float: left;
	height: 100%;
	margin: 0;
	padding: 0;
	max-width: 100%;
}
.box-login{
	padding: 4%;
	margin: 0 auto;
	margin-top: 2%;
	background-color: #ffffff;
	transition: 0.5s;
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media only screen and (max-width: 600px) {
    .box-login{
		width: 92%;
    }
}
@media only screen and (min-width: 600px) {
	.box-login{
			width: 70%;
	}
} 
@media only screen and (min-width: 992px) {
	.box-login{
		width: 50%;
	}
}
h1{
	font-size: 140%;
	margin-left: 4%;
	margin-top: 2%;
}
.btn{
	border-radius: 0;
}
.navbar-toggler{
	border-radius: 0;
}
